.DS_Store
*~
*.original
*.backup
*.bak
bak
elpa
.ddskk
.kkc
abbrev_defs
SKK-DIC
Spelling
LEIM
elpy
auto-save-list
transient
.markdown-preview.html
url/cache
*.elc
keys
kbsc0
kbsc2
tmp
bcompile
*.0
org-persist
custom.el.*
