body {
    color: #fff;
    background-color: #282a36;
}
a {
    color: #59acf3;
}
a:hover {
    color: #a7d8ff;
    text-decoration: none;
}
pre,
code {
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
}
pre {
    border: 1px solid #888;
}
code,
pre {
    background-color: #282a36;
    color: #eee;
}
kbd {
  color: #555;
  background-color: #fcfcfc;
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
  box-shadow: inset 0 -1px 0 #bbb;
}
